@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:300');
@keyframes block1 {
  0% {
    transform: rotateZ(150deg);
  }
  100% {
    transform: rotateZ(510deg);
  }
}
@keyframes block2 {
  0% {
    transform: rotateZ(130deg);
  }
  100% {
    transform: rotateZ(490deg);
  }
}
@keyframes block3 {
  0% {
    transform: rotateZ(110deg);
  }
  100% {
    transform: rotateZ(470deg);
  }
}

@keyframes movedown {
	0% {
		top: 1em;
	}
	50% {
		top: 2em;
	}
	60% {
		top: 1.5em;
	}
	70% {
		top: 2em;
	}
	100% {
		top: 1em;
	}
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
  color: #fefefe;
  font-family: 'Open Sans', sans-serif;
  line-height: 2em;
  margin: 0;
  position: relative;
	min-height: 100vh;
}

body,
main {
  width: 100%;
}

h1,
h2,
h3 {
	font-family: 'Courgette', cursive;
}

h1 {
  margin: 1em 0 0;
  font-size: 3.2em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.5em;
}

p {
  font-size: 1.2em;
  margin: 0;
}

a {
  color: #fefefe;
  text-decoration: none;
  outline: 0;
  transition: all .4s ease-out;
}

main {
	position: relative;
}

main > .bg {
  background: #11B382;
  width: inherit;
  height: inherit;
  display: block;
  position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  overflow: hidden;
}
main > .bg:before, main > .bg:after,
main > .bg > div {
  width: 500%;
  position: absolute;
  left: -150%;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
main > .bg:before, main > .bg:after {
  content: '';
}
main > .bg:before {
  background: #608888;
  height: 300%;
  top: 120%;
  animation-name: block1;
}
main > .bg > div {
  background: #1E5166;
  height: 250%;
  top: 100%;
  animation-name: block2;
}
main > .bg:after {
  background: #CF2C2C;
  height: 200%;
  top: 80%;
  animation-name: block3;
}

.info-card {
	z-index: 1;
  background: #323232;
  text-align: center;
}
.info-card > .icon {
  border-radius: 100%;
  display: block;
  height: 12em;
  width: 12em;
  margin: 0 auto;
	border: .4em solid #608888;
  background: #608888 url("../img/icon.png") top center/100% no-repeat;
}
.info-card .colored {
	color: #608888;
}

.social-media {
  display: flex;
  justify-content: center;
  padding: 2em 0 0;
}
.social-media a:hover:nth-child(1),
.social-media a:focus:nth-child(1) {
  color: #000;
}
.social-media a:hover:nth-child(2),
.social-media a:focus:nth-child(2) {
  color: #24292E;
}
.social-media a:hover:nth-child(3),
.social-media a:focus:nth-child(3) {
  color: #205081;
}
.social-media a:hover:nth-child(4),
.social-media a:focus:nth-child(4) {
  color: #4875B4;
}
.social-media a:hover:nth-child(5),
.social-media a:focus:nth-child(5) {
  color: #1FD662;
}
.social-media a:hover:nth-child(6),
.social-media a:focus:nth-child(6) {
  color: #BA0000;
}
.social-media a:hover:nth-child(7),
.social-media a:focus:nth-child(7) {
  color: #2CA5E0;
}

.link-button {
	display: flex;
	justify-content: center;
	padding-top: 1em;
	height: 2em;
	position: relative;
}
.link-button i {
	position: absolute;
	width: 100%;
}
.link-button:hover,
.link-button:focus {
	color: #11B382;
}
.link-button:hover > i,
.link-button:focus > i {
	animation-name: movedown;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

section {
	min-height: 100vh;
	width: 100%;
	background: #323232;
	border-width: .4em 0;
	border-style: solid;
	border-color: #608888;
	display: flex;
}

.skills-card,
.personal-card {
	width: 100%;
	padding: 2em;
}

.personal-card {
	flex-shrink: 3;
}
.personal-card > h2 > .sub {
	display: block;
	color: #11B382;
	font-size: .5em;
	font-weight: 300;
}
.personal-card > .picture {
	width: 16em;
	height: 16em;
	background: #608888;
	border: .4em solid #608888;
	border-radius: 100%;
	position: relative;
	overflow: hidden;
}
.personal-card > .picture > img {
	width: 100%;
	margin-top: -1em;
}

.skills-card {
	flex-shrink: 2;
	background: #fefefe;
	color: #323232;
}
.skills-card h3 {
	color:  #11B382;
}

footer {
	background: #11B382;
	padding: 1em 2em;
	text-align: center;
}
footer a {
	font-weight: 700;
}

@media (min-width: 800px) {
	body {
		font-size: 16px;
	}

	main {
		height: 100vh;
	}

	.info-card {
	  padding: 4em 2em;
	  width: calc(100% - 4em);
		margin: 0 2em;

	  position: absolute;
	  top: 50%;
		left: 0;
	  transform: translateY(-50%);
	}

	.social-media > a {
		font-size: 2em;
	  width: 2em;
	}

	.link-button {
		font-size: 1.5em;
	}

	section {
		flex-wrap: nowrap;
		padding: 3em 2em;
	}

	.personal-card > .picture {
		margin: 4em 0 2em;
	}
}

@media (max-width: 799px) {
	body {
		font-size: 14px;
	}

	main {
		padding: 3em 0;
	}

	.info-card {
		padding: 3em 1em;
		width: calc(100% - 2em);
		margin: 0 1em;

		position: relative;
	}

	.social-media {
		flex-wrap: wrap;
	}
	.social-media > a {
		font-size: 3em;
	  width: 40%;
		padding: .5em 0;
	}

	.link-button {
		font-size: 2em;
	}

	section {
		flex-wrap: wrap;
	}

	.personal-card > .picture {
		margin: 4em auto 2em;
	}
}
